#ticTacToe {
  display: flex;
  margin: auto;
  background-color: LightSeaGreen;
}

#ticTacToe table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 10px;
}

#ticTacToe td {
  width: 48px;
  height: 48px;
  border:6px solid grey;
}