#ticTacToe table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 30px;
}

#ticTacToe td {
  border:6px solid grey;
  width: 130px;
  height: 130px;
}

#ticTacToe table object {
  width: 130px;
  height: 130px;
}